In [1]:
if True: 
    print('Data Science')

Data Science

In [5]:
if True:
print('ds')

IndentationError: expected an indented block after 'if' statement on line 1 (2469930286.py, line 2)

In [10]:
if False:
    print('Data Science')
print('bye for now')

bye for now

In [11]:
if True:
    print('Data Science')
print('bye for now')

Data Science
bye for now

In [12]:
if True:
    print('Data Science')
else:
    print('bye for now')

Data Science

In [13]:
if False:
    print('Data Science')
else:
    print('bye for now')

bye for now

In [14]:
x = 4
r = x % 2 

if r == 0:
    print('Even number')

Even number

In [15]:
x = 5
r = x % 2 

if r == 0:
    print('Even number')

In [20]:
x = 5
r = x % 2 

if r == 0:
    print('Even number')
else:
    print('odd number')

odd number

In [18]:
x = 4
r = x % 2 

if r == 0:
    print('Even number')

if r == 1:
    print('odd number')

if r == 2:
    print('even number')

Even number

In [24]:
x = 1

if x == 1:
    print('one')
if x == 2:
    print('Two')
if x == 3:
    print('Three')
if x == 4:
    print('four')

one

In [25]:
x = 5
r = x % 2

if r == 0:
    print('Even number')
else:
    print('Odd Number')

Odd Number

In [26]:
x = 3
r = x % 2

if r == 0:
    print('Even number')
    if x>5:
        print('greater number')
  
else:
    print('Odd Number')

Odd Number

In [27]:
x = 4
r = x % 2

if r == 0:
    print('Even number')
    if x>5:
        print('greater number')
  
else:
    print('Odd Number')

Even number

In [28]:
x = 4
r = x % 2

if r == 0:
    print('Even number')
    
    if x>5:
        print('greater number')

    
    else:
        print('number is lesser number')
  
else:
    print('Odd Number')

Even number
number is lesser number

In [29]:
# elif it wont check till the block once you find the output it wont go to next line
# you can try with multiple parameter 1, 2 & 3 value in x 

x = 4

if(x == 1):
    print('one')
elif(x == 2):
    print('Two')
elif(x == 3):
    print('Three')
elif(x == 4):
    print('four')

four

In [30]:
# elif it wont check till the block once you find the output it wont go to next line
# you can try with multiple parameter 1, 2 & 3 value in x 

x = 7

if(x == 1):
    print('one')
elif(x == 2):
    print('Two')
elif(x == 3):
    print('Three')
elif(x == 4):
    print('four')

In [31]:
# elif it wont check till the block once you find the output it wont go to next line
# you can try with multiple parameter 1, 2 & 3 value in x 

x = 7

if(x == 1):
    print('one')
    
elif(x == 2):
    print('Two')
elif(x == 3):
    print('Three')
elif(x == 4):
    print('four')

else:
    print('number not found')

number not found

# Loops

In [ ]:
i = 1         

while i<=5:    # condition
    print('data science')
    i = i + 1  # increment

In [34]:
i = 1

while i<=5:
    print('data science') # when we mention end then new line will not create
    j = 1
    while j<=4:
        print('technology')
        j = j + 1
        
    i = i + 1
    print()
    
    # the output which we got is very lengty but how to make them one line lets refer to below code

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

In [37]:
i = 1
while i<=5:
    print(' datascience', end = "") # when we mention end then new line will not create
    j = 1
    while j<=4:
        print(' technology', end="")
        j = j + 1
        
    i = i + 1
    print()

 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology